@import '../../../styles/mixins.sass'
@import '../../../styles/functions.sass'

.opened
  --col: var(--col-1)
.closed
  --col: var(--col-2)
  
.logo
  @include flex-yCenter-gap(7px)
  img
    width: 48px
    height: 48px
  figcaption
    @include font-set-up(var(--logo-font), toRem(24), 800, var(--col))
  &:hover
    cursor: var(--cursor-pointer-light), pointer

@media screen and (min-width: 360px)
  .logo
    figcaption
      font-size: toRem(18)
